{% extends "base.html" %}
{% block content %}
    <h1 class="mb-5">Practice your Gratitude</h1>
    <p class="lead">Daily Gratitude is a web app that helps you practice being grateful. Each day login and add things that you are grateful for. </p>
    <p class="lead">
        <a href="/signup" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Start Today</a>
    </p>
    <p class="lead">The benefits of practicing gratitude are nearly endless. People who regularly practice gratitude by taking time to notice and reflect upon the things they're thankful for experience more positive emotions, feel more alive, sleep better, express more compassion and kindness, and even have stronger immune systems.</p>
{% endblock %}
